@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&display=swap');

.shimmer-text {
    background: linear-gradient(to right,
            #d4af37 20%,
            #ffe6a1 50%,
            #d4af37 80%);
    background-size: 200% auto;
    color: #d4af37;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
    display: inline-block;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}